.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.footer__copyright {
  max-width: 194px;
  min-height: 16px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    min-width: 194px;
    min-height: 14px;
    margin: 64px auto 24px;
    line-height: 14px;
  }
}
