.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  height: auto;
  width: 100%;
}

.lead__title {
  max-width: 720px;
  height: 200px;
  font-size: 100px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  margin: 91.6px auto 32px;
}

.lead__subtitle {
  max-width: 720px;
  min-height: 72px;
  margin: 0 auto 64px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
}

.lead__image {
  max-width: 100%;
  max-height: 615px;
  object-fit: fill;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 530px;
    max-height: 158px;
    font-size: 75px;
    line-height: 79px;
    margin: 90px auto 25px;
  }

  .lead__subtitle {
    margin: 0 auto 30px;
  }

  .lead__image {
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 228px;
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
    margin: 50px auto 16px;
  }

  .lead__subtitle {
    max-width: 288px;
    max-height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px;
  }

  .lead__image {
    width: 320px;
    height: 200px;
  }
}
