.places {
  max-width: 984px;
  margin: 92px auto 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 88px auto 0;
    gap: 72px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin: 64px auto 0;
    gap: 50px;
    padding: 0 16px;
  }
}
