.places {
  max-width: 984px;
  margin: 92px auto 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  color: #ffffff;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  grid-column: 1 / 2;
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}

.place__website {
  grid-column: 2 / 3;
  align-self: end;
}

.place__url-heading {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.place__artist {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.place__image {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  width: 100%;
  display: block;
  object-fit: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.place__image:hover {
  opacity: 0.5;
}

.place__content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

.place__button {
  grid-column: 1 / 2;
  align-self: start;
  display: inline-block;
  padding: 13px 20px;
  width: 289px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  background: linear-gradient(90deg, #0278fe, #003a7b);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.place__button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 88px auto 0;
    gap: 72px;
    padding: 0 24px;
  }

  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 40px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__button {
    width: 260px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin: 64px auto 0;
    gap: 50px;
    padding: 0 16px;
  }

  .place {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .place__title,
  .place__website,
  .place__image,
  .place__content {
    grid-column: auto;
    grid-row: auto;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
  }

  .place__image {
    width: 100%;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__button {
    width: 100%;
    font-size: 14px;
  }
}
